[submodule "lib/multigraph"]
	path = lib/multigraph
	url = https://github.com/multigraph/js-multigraph.git
[submodule "lib/jquery-ui-touch-punch"]
	path = lib/jquery-ui-touch-punch
	url = https://github.com/furf/jquery-ui-touch-punch.git
