.dashboard-timeslider-wrapper {
    position: relative;
    left: 10px;
    width: 920px;
    height: 20px;
    border-radius:10px;
    -moz-border-radius:10px;
}

.dashboard-timeslider {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 560px;
    height: 20px;
}

.ui-slider .ui-slider-handle {
  width: 3px;
  margin-left: 0;
  top: -2px;
}

.dashboard-timeslider .ui-widget-header {
  background: none;
}

.dashboard-timeslider .ui-slider-range {
  background-color: #f6a828;
}

div.dashboard-timeslider.ui-slider.ui-widget-content {
  border: none;
  background: none;
  background-color: #232020; /* dark gray */
}

/*
<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 33%;"></a>
*/
