/*
  background-image: url('assets/triangle-e.png');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: 50px 100px;
*/

/**********************************************************************************
 * dashboard.css
 */

.dashboard-displaynone {
  display: none;
}

.dashboard {
  position: relative;
  width: 940px;
  height: 570px;
  background: #5a5b5b;  /* light gray */
  border-radius:10px;
  -moz-border-radius:10px;
}

.dashboard-title {
  position: absolute;
  top: 8px;
  left: 8px;
  color: #000000;
  font-size: 22pt;
}

.dashboard-tab-buttons {
  position: absolute;
  width: 575px;
  height: 40px;
  top: 5px;
  left: 350px;
  padding-left: 7px;
}

.dashboard-tab-button.ui-button span.ui-button-text {
  line-height: 1.0;
  font-size: 11pt;
}

.dashboard-tab-button {
  width: 185px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
}

.dashboard-tab-button .ui-button-text {
   margin-left: 10px;
}


.dashboard-tab-button.ui-button {
  background: none;
  border: none;
  color: #ffffff;
}

.dashboard-tab-button.ui-button.ui-state-default {
  /* background-color: #8a8c8e; */ /* light gray */
  background: #8a8c8e url("assets/triangle-8a8c8e-e.png") no-repeat 5px 5px;
}

.dashboard-tab-button.ui-button.ui-state-hover {
  /* background-color: #232020; */ /* dark grey */
  background: #232020 url("assets/triangle-232020-e.png") no-repeat 5px 5px;
}

.dashboard-tab-button.ui-button.ui-state-default.dashboard-button-selected {
  /* background-color: #232020; */ /* dark grey */
  background: #232020 url("assets/triangle-232020-s.png") no-repeat 5px 5px;
}

.dashboard-tabs {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50px;
  left: 0px;
  /*background-color: #0000ff;*/
}

.dashboard-graph-container {
  margin-bottom: 5px;
}

/**********************************************************************************
 * dashboard-graph.css
 */

.dashboard-tab-graphslot {
  margin-bottom: 8px;
}

.dashboard-graph {
    position: relative;
    left: 10px;
    width: 920px;
    height: 110px;
    background-color: #232020; /* dark gray */
    border-radius:10px;
    -moz-border-radius:10px;
}

.dashboard-singleslot-tab .dashboard-graph {
   height: 455px;
}

.dashboard-graph-title {
  position: absolute;
  left: 8px;
  top: 5px;
  color: #ffffff;
  font-size: 12pt;
}

.dashboard-graph-description {
  position: absolute;
  left: 8px;
  top: 30px;
  width: 330px;
  height: 70px;
  color: #888888;
  font-size: 11pt;
}

.dashboard-graph-legend {
  position: absolute;
  left: 8px;
  top: 30px;
  width: 340px;
  height: 375px;
}

.dashboard-graph-legend-title {
  position: absolute;
  top: 25px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

.dashboard-graph-legend-text {
  position: absolute;
  bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  color: #888888;
  font-size: 11pt;
}

.dashboard-graph-legend-content {
  position: absolute;
  top: 75px;
  left: 80px;
}

.dashboard-graph-legend-content table {
  border-radius:5px;
  -moz-border-radius:5px;
  background-color: #ffffff;
  font-size: 10pt;
  padding: 5px;
}

.dashboard-graph-link {
  position: absolute;
  left: 260px;
  top: 88px;
  color: #888888;
  width: 100px;
  font-size: 10pt;
  font-weight: bold;
}

.dashboard-singleslot-graph-link {
  top: 430px;
}


.dashboard-graph-multigraph-wrapper {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 560px;
    height: 104px;
    /*background-color: #00ff00;*/
}

.dashboard-graph-multigraph {
    width: 560px;
    height: 104px;
/*
    width: 100%;
    height: 100%;
*/
}

/**********************************************************************************
 * dashboard-timeline.css
 */

.dashboard-timeline {
    position: relative;
    margin-bottom: 5px;
    left: 10px;
    width: 920px;
    height: 20px;
    border-radius:10px;
    -moz-border-radius:10px;
}

.dashboard-timeline-multigraph-wrapper {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 560px;
    height: 20px;
    /*background-color: #00ff00;*/
}

.dashboard-timeline-multigraph {
    width: 560px;
    height: 30px;
/*
    width: 100%;
    height: 100%;
*/
}

/**********************************************************************************
 * dashboard-timeslider.css
 */

.dashboard-timeslider-wrapper {
    position: relative;
    left: 10px;
    width: 920px;
    height: 20px;
    border-radius:10px;
    -moz-border-radius:10px;
}

.dashboard-timeslider {
    position: absolute;
    right: 5px;
    top: 3px;
    width: 560px;
    height: 20px;
}

.ui-slider .ui-slider-handle {
  width: 3px;
  margin-left: 0;
  top: -2px;
}

.dashboard-timeslider .ui-widget-header {
  background: none;
}

.dashboard-timeslider .ui-slider-range {
  background-color: #f6a828;
}

div.dashboard-timeslider.ui-slider.ui-widget-content {
  border: none;
  background: none;
  background-color: #232020; /* dark gray */
}

/**********************************************************************************
 * dashboard-tab.css
 */

.dashboard-tab-graphbuttons {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 6px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
  height: auto;
  /*background-color: #ff0000;*/
}

.dashboard-graph-button {
  width: 295px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.dashboard-graph-button.ui-button span.ui-button-text {
  line-height: 1.2;
  font-size: 11pt;
}

.dashboard-graph-button.ui-widget {
  background: none;
  border: none;
  color: #ffffff;
}

.dashboard-graph-button.ui-widget.ui-state-default {
  /* background-color: #8a8c8e; */ /* light gray */
  background: #8a8c8e url("assets/triangle-8a8c8e-e.png") no-repeat 5px 5px;
}

.dashboard-graph-button.ui-widget.ui-state-hover {
  /* background-color: #232020; */ /* dark grey */
  background: #232020 url("assets/triangle-232020-e.png") no-repeat 5px 5px;
}

.dashboard-graph-button.ui-widget.ui-state-default.dashboard-button-selected {
  /* background-color: #232020; */ /* dark grey */
  background: #232020 url("assets/triangle-232020-n.png") no-repeat 5px 5px;
}
