.expandable-dashboard-graph-container {
  position: relative;
}
.expandable-dashboard-graph {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  border-radius:10px;
  -moz-border-radius:10px;
  width: 1000px;
  background: #232020;
  padding: 0px;
  margin-bottom: 8px;
}
.expandable-dashboard-graph-expanded {
  height : 100px;
  cursor : default
}
.expandable-dashboard-graph-collapsed {
  height : 30px;
  cursor : pointer
}

.expandable-dashboard-graph-drag-handle {
  background: #ffffff;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
  display: inline;
}
.expandable-dashboard-graph-expanded .expandable-dashboard-graph-drag-handle {
  top: 40px;
}

.expandable-dashboard-graph-openclose-button {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.expandable-dashboard-graph-collapsed .expandable-dashboard-graph-openclose-button {
  top: 6px;
}
.expandable-dashboard-graph-title-stats {
  display: inline;
  position: absolute;
  bottom: 0px;
}

.expandable-dashboard-graph-title {
  display: inline;
  color: #ffffff;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  position: relative;
  visibility: visible;
  margin-left: 35px;
/*
  background: #0f0;
  opacity: 0.5;
*/
}
.expandable-dashboard-graph-expanded .expandable-dashboard-graph-title {
  bottom: 65px;
}

.expandable-dashboard-graph-stats {
  display: inline;
  width: auto;

  line-height: 22px;
  position: relative;
/*
  background: #f00;
  opacity: 0.5;
*/
}
.expandable-dashboard-graph-collapsed .expandable-dashboard-graph-stats {
  margin-left: 25px;

}
.expandable-dashboard-graph-expanded .expandable-dashboard-graph-stats {
  left: 35px;
  top: -39px;
  position: absolute;
}

.expandable-dashboard-graph-expanded .expandable-dashboard-graph-stat-item {
  display: block;
}
.expandable-dashboard-graph-collapsed .expandable-dashboard-graph-stat-item {
  margin-right: 25px;
}

.expandable-dashboard-graph-expanded .expandable-dashboard-graph-stats ul li {
  display: block;
}
.expandable-dashboard-graph-collapsed .expandable-dashboard-graph-stats ul li {
  display: inline;
  margin-right: 25px;
}

.expandable-dashboard-graph-stat-value {
  font-weight: bold;
  margin-left: 5px;
}

.expandable-dashboard-graph-link {
  width: 330px;
  height: 22px;
  line-height: 22px;
  position: absolute;
  top: 77px;
  left: 35px;
  visibility: hidden;
}
.expandable-dashboard-graph-link a {
  color: #ffffff;
}
.expandable-dashboard-graph-expanded .expandable-dashboard-graph-link {
  visibility: visible;
}

.expandable-dashboard-graph-multigraph {
  background: #663333;
  width: 585px;
  height: 80px;
  position: absolute;
  right: 33px;
  top: 10px;
  display: inline;
}
.expandable-dashboard-graph-collapsed .expandable-dashboard-graph-multigraph {
  visibility: hidden;
}
.expandable-dashboard-graph-expanded .expandable-dashboard-graph-multigraph {
  visibility: visible;
}
