.single-dashboard-graph-container {
  position: relative;
}
.single-dashboard-graph {
  position: relative;
  border-radius:10px;
  -moz-border-radius:10px;
  width: 1000px;
  height: 500px;
  background: #232020;
  padding: 0px;
  margin-bottom: 8px;
}

.single-dashboard-graph-title {
  display: inline;
  color: #ffffff;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  position: relative;
  visibility: visible;
  margin-left: 35px;
/*
  background: #0f0;
  opacity: 0.5;
*/
}

.single-dashboard-graph-legendbox {
  position: relative;
  left: 25px;
  top: 8px;
  display: block;
  width: 335px;
  height: 400px;
/*
  background: #f00;
  opacity: 0.5;
*/
}

.single-dashboard-graph-legend {
  border-radius:10px;
  -moz-border-radius:10px;
  background: #ffffff;
  color: #000000;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: auto;
  display: block;
  padding: 10px;
}

.single-dashboard-graph-legend-item-icon {
  margin-left: 10px;
}

.single-dashboard-graph-legend-item-text {
  margin-left: 10px;
}

.single-dashboard-graph-legendtitle {
  margin-top: 60px;
  font-weight: bold;
  display: block;
}
.single-dashboard-graph-legendtext {
  margin-top: 20px;
  display: block;
}

.single-dashboard-graph-link {
  position: absolute;
  bottom: 0px;
}
.single-dashboard-graph-link a {
  color: #ffffff;
}

.single-dashboard-graph-multigraph {
  width: 585px;
  height: 485px;
  position: absolute;
  right: 33px;
  top: 10px;
  display: block;
}
